header h1{background-color: black; color: white;margin:0;padding:10px;text-align:center}
#header2 {background-color: #171e25; color: white;margin:0;padding:30px;text-align:center}

nav {background-color: #434343; color: white;margin:0;padding:10px}

footer h3 {background-color: #060606; color: white;margin:0;padding:30px;text-align:center}


#outer_wrapper {}
.container {margin:0;width:100%}
.row {}
#content {background-color: #171e25; color: white}
	
.moviebox{background-color: #101010}

.row{}

.shortInfo{max-height:350px; overflow:auto}



button{color: black;}

nav h3{display:inline;}